:root {
  --deep-roast: #3c2a21;
  --velvet-cream: #94855d;
  --golden-caramel: #d4a373;
  --forest-sage: #6b8d73;
  --text-light: #ffffff;
  --light-coffee: #68552e;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("assets/images/Bg Image.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  color: var(--text-light);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.navbar {
  padding: 1rem 5%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all 0.3s ease;
}

.navbar.shrink {
  padding: 0.5rem 5%;
  background: rgba(0, 0, 0, 0.9) !important;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--velvet-cream) !important;
}

.navbar-nav .nav-link {
  color: var(--velvet-cream) !important;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: var(--golden-caramel) !important;
}

@media (min-width: 992px) {
  .navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.nav-actions {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1050;
}

.nav-actions a {
  color: var(--velvet-cream);
  font-size: 1.3rem;
}

.nav-actions a:hover {
  color: var(--golden-caramel);
}

.navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}
.sidebar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar a {
  text-decoration: none;
  color: var(--golden-caramel);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}
.sidebar a.active {
  color: #dcb764;
}
.profile-card {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 30px;
}

.profile-card label {
  color: var(--golden-caramel);
}
.btn-custom {
  background-color: #dcb764;
  border: none;
  color: #000;
  font-weight: 500;
}
.btn-custom:hover {
  background-color: #caa54a;
}
