* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('Background_Image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px; 
    background: rgba(85, 46, 12, 0.806);
    color: white;
}

.navbar nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

.navbar nav a.active {
    color: #f3a661;
    border-bottom: 2px solid #f3a661;
}

.profile-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    flex: 1;                 
    padding: 40px 20px;      
}

.glass-card {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;    
    padding: 30px;          
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); 
}

.sidebar {
    width: 260px; 
    text-align: center;
}

.profile-form h2{
    width: 500px; 
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.profile-form p {
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 35px;
} 
h2 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.5rem; 
}

h3 {
    font-weight: 700;
    font-size: 1.1rem;
}

.profile-pic img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
    object-fit: cover;
}

.side-links {
    list-style: none;
    text-align: left;
    margin-top: 20px;
}

.side-links li {
    padding: 10px 0;
    cursor: pointer;
    color: #f3a661;
    font-weight: 600;
    font-size: 0.95rem;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px; 
}

.input-group label {
    width: 120px; 
    color: #f3a661;
    font-weight: 600;
    font-size: 0.9rem;
}

.input-group input {
    flex: 1;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
}

.save-btn {
    background: #f3a661;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    float: right;
    margin-top: 15px;
    transition: transform 0.3s;
}

.save-btn:hover {
    transform: scale(1.05);
}